html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td ,button{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Lato, "Microsoft YaHei", "kaiti", sans-serif;
    vertical-align: baselinebaseline;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #444955;
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body {
    background-color: #e2e2e2;
}
img{
    max-width: 100%;
}
body,html{
    height:100%;
}
